{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>About YF™ Official App</h1>
    <h6>This application is built by Yamaan Faraz.</h6>
    <h6>This app is the copy of my Flask App which copied my streamlit app. link: <a href="https://yffirstownappcoursein2026or2027.streamlit.app/">"https://yffirstownappcoursein2026or2027.streamlit.app/"</a></h6>
    <h5>You can:</h5>
    <h5>* Submit Information (Not, actually.)</h5>
    <h5>* Click on these clickable pages.</h5>
    <h5>* Can go to my email and compose for the free course. ones who compose me will get my first video which i even haven't published.</h5>
    {% load static %}
    <img src="{% static 'img_3.png' %}">
</div>
{% endblock %}